body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

td > * {
    vertical-align: middle;
}

th {
    background-color: #333;
    color: white;
}

td {
    font-size: 18px;
}

tr:hover {
    background-color: #f1f1f1;
}

input[type="button"] {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
}

.claimUpdateBtn {
    background-color: #28a745;
    color: white;
}

.claimDescriptionBtn, .claimDocumentsBtn {
    background-color: #007bff;
    color: white;
}

input[type="button"]:hover {
    opacity: 0.9;
}

.modal {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.modal-footer {
    padding-top: 10px;
    border-top: 1px solid #eee;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
}
